#Adiv {
	background-color: #F9D670;
	border: 5px solid #E7A745;
	margin: 10px;
	padding: 15px;
}
#Bdiv {
	background-color: #F9D670;
	border: 5px solid #E7A745;
	margin: 10px;
	padding: 15px;
}
#Cdiv {
	background-color: #F9D670;
	border: 5px solid #E7A745;
	margin: 10px;
	padding: 15px;
}
#Ddiv {
	background-color: #F9D670;
	border: 5px solid #E7A745;
	margin: 10px;
	padding: 15px;
}
li {
	width: 65px;
	height: 20px;
	background-color: #cc286d;
	border: 1px solid #E74580;
	margin: 1px;
	padding: 7px;
}
ul {
    list-style-type: none;
  }
div li:hover {
    background-color: #ADD8E6;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }
  @media (min-width: 768px) { /*computer display*/
    body {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    
    #MyTitle {
      order: 1;
      width: 100%;
      text-align: center;
    }
    #Adiv {
      order: 2;
    }
    #Cdiv {
      order: 3;
    }
    #Ddiv {
      order: 4;
    }
    #Bdiv {
      order: 5;
    }
    #MyFoot {
      order: 6;
      width: 100%;
      text-align: center;
    }
    @media (max-width: 768px) { /*phone display*/
      body {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
      }
        
        #MyTitle {
          grid-area: title;
        }
        #Adiv {
          grid-area: a;
        }
        #Bdiv {
          grid-area: b;
        }
        #Cdiv {
          grid-area: c;
        }
        #Ddiv {
          grid-area: d;
        }
        #MyFoot {
          grid-area: footer;
        }
      }
  }
  @media (min-width: 768px) and (max-width: 1024px) { /*tablet display*/
    body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto auto auto auto;
      grid-template-areas:
        "Title Title"
        "Adiv Bdiv"
        "Cdiv Ddiv"
        "Footer Footer";
    }
    #MyTitle {
      grid-area: Title;
    }
    #Adiv {
      grid-area: Adiv;
    }
    #Bdiv {
      grid-area: Bdiv;
    }
    #Cdiv {
      grid-area: Cdiv;
    }
    #Ddiv {
      grid-area: Ddiv;
    }
    #MyFoot {
      grid-area: Footer;
    }
  }