/* Requirement-1.A */
p {
    /*Requirement 1.2*/
    font-size: 16px;
    /*Requirement 3.1*/
    color: #111;
    /*Requirement 2.3*/
    text-align: center;
  }


  .h3{
    /*Requirement 4.2*/
    background-color: aquamarine;
    /*Requirement 15.1*/
    position: absolute;
    float: right;
 
  }
/*Requirement 2.B*/
h1, p {
    font-family: Arial;
    /*Requirement 13.1*/
    clear: none;
  }

/*Requirement 3.C*/
.head{
    /*Requirement 9.1*/
    font-size:18px;
    /*Requirement 17.1*/
    z-index: 3;
}

/*Requirement 4.D*/
#idName {
    font-size:18px;
    /*Requirement 10.1*/
    max-width: 20%;
    /*Requirement 16.1*/
    visibility: visible;
}

/*Requirement 5.E*/
class:first-child{
    font-size: 18px;
}

/*Requirement 6.F*/
div tr{
    color: red;
}

a{
    /*Requirement 12.1*/
    display: none;
}


/*Requirement 7.G*/
details {
    /*Requirement 5.1*/
    border: 1px solid;
    /*Requirement 6.1*/
    padding: 5px;
    /*Requirement 7.6*/
    width: 100px;
    /*Requirement 14.1*/
    overflow: auto;
}

ol {
    /*Requirement 8.1*/
    list-style: circle;
}

/*Requirement 8.H*/
summary {
    font-weight: bold;
    /*Requirement 11.1*/
    float: left;

}
